<ion-content padding>
  <form [formGroup]="ngForm" (ngSubmit)="login(ngForm)" method="post">
    <ion-item>
      <ion-label position="floating">IdentityId</ion-label>
      <ion-input type="number" name="identityId" formControlName="identityId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">SchoolID</ion-label>
      <ion-input type="number" name="schoolId" formControlName="schoolId"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full" color="primary">Login</ion-button>
  </form>

</ion-content>